.drip_editor {
	
}

.drip_layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* setting pointer-events: auto; on node under the mouse, which changes
        during scroll, will break mouse wheel scrolling in Safari */
    pointer-events: none;
    
    /*FIXME：寻求更灵活的获取光标默认高度的方法*/
    line-height: 15px;
    
    padding-top: 1px;
    
    tab-size:4;/*很多浏览器不支持，默认值为8*/
}

.drip_editor_focus {
	border-color: #51A7E8;
	box-shadow: rgba(81, 167, 232, 0.5) 0 0 5px, inset rgba(0, 0, 0, 0.2) 0 1px 1px;
}

.drip_text {
	/*
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 6px;
	*/
	outline: none;
	
}

.drip_math{
	display: inline-block;
}

.drip_cursor-layer {
    z-index: 4;
}

.drip_cursor {
    z-index: 4;
    position: absolute;
    border-left: 2px solid black;
    line-height: 15px;
    height: 15px;
}

.drip_contentAssist{
	min-width: 200px;
	font-size: 15px;
	background-color: white;
}

.drip_contentAssist div{
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.drip_cursor.drip_hidden {
    opacity: 0.2;
}

.drip_editor.multiselect .drip_cursor {
    border-left-width: 1px;
}

.drip_line{
	min-height: 15px;
	font-family: "Menlo", "Consolas", "Vera Mono", "monospace"；
}

.drip_line span{
	white-space: pre;
}

/***********************math icon*************************/
.drip_equation_icon{
	/*这些图片来自google doc， 如果不允许使用，则立即替换.
		这些图片的质量也不是很好，后面更新。
	*/
	background-image: url("images/ee-palettes.gif");
}

/*分数*/
.drip_frac{
	width: 30px;
	height: 45px;
	background-position: -150px -90px;
}

/*乘号*/
.drip_multiplication{
	width: 18px;
	height: 18px;
	background-position: 0px -50px;
}

/*除号*/
.drip_division{
	width: 18px;
	height: 18px;
	background-position: -18px -50px;
	
}

.drip_sub_sup {
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -60px -90px;
}

.drip_sub{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: 0px -90px;
}

.drip_sup{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -30px -90px;
}

/*平方根*/
.drip_sqrt{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -180px -90px;
}

/*根号*/
.drip_root{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -210px -90px;
}

/*小括号*/
.drip_parentheses{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -360px -90px;
}

/*中括号*/
.drip_brackets{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -390px -90px;
}

/*大括号*/
.drip_brace{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -420px -90px;
}

/*绝对值 ||*/
.drip_abs{
	width: 30px;
	height: 54px;
	-webkit-user-select: none;
	background-position: -450px -90px;
}

.drip_delta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -558px -50px;
}

.drip_sin{
	
}

.drip_cos{
	
}

.drip_tan{
	
}

.drip_cot{
	
}

/*希腊字母*/
.drip_alpha{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: 0px -30px;
}

.drip_beta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -18px -30px;
}

.drip_gamma{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -36px -30px;
}

.drip_delta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -54px -30px;
}

.drip_epsilon_lunate{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -72px -30px;
}

.drip_epsilon{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -90px -30px;
}

.drip_zeta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -108px -30px;
}

.drip_eta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -126px -30px;
}

.drip_theta{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -144px -30px;
}

.drip_theta_greek{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -162px -30px;
}

.drip_iota{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -180px -30px;
}

.drip_kappa{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -198px -30px;
}

.drip_lambda{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -216px -30px;
}

.drip_mu{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -234px -30px;
}

.drip_nu{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -252px -30px;
}

.drip_xi{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -270px -30px;
}

.drip_omicron{
	
}

.drip_pi{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -288px -30px;
}

.drip_pi_greek{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -306px -30px;
}

.drip_rho{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -324px -30px;
}

.drip_sigma{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -360px -30px;
}

.drip_sigma_final{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -378px -30px;
}

.drip_tau{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -396px -30px;
}

.drip_upsilon{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -414px -30px;
}

.drip_phi{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -450px -30px;
}

.drip_phi_greek{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -432px -30px;
}

.drip_chi{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -468px -30px;
}

.drip_psi{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -486px -30px;
}

.drip_omega{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -504px -30px;
}

/*希腊字母大写*/
.drip_alpha_upper{
	
}

.drip_beta_upper{
	
}

.drip_gamma_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -522px -30px;
}

.drip_delta_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -540px -30px;
}

.drip_epsilon_upper{
	
}

.drip_zeta_upper{
	
}

.drip_theta_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -558px -30px;
}

.drip_iota_upper{
	
}

.drip_kappa_upper{
	
}

.drip_lambda_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -576px -30px;
}

.drip_mu_upper{
	
}

.drip_nu_upper{
	
}

.drip_xi_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -594px -30px;
}

.drip_omicron_upper{
	
}

.drip_pi_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -612px -30px;
}

.drip_rho_upper{
	
}

.drip_sigma_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -630px -30px;
}

.drip_tau_upper{
	
}

.drip_upsilon_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -648px -30px;
}

.drip_phi_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -666px -30px;
}

.drip_chi_upper{
	
}

.drip_psi_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -684px -30px;
}

.drip_omega_upper{
	width: 18px;
	height: 18px;
	-webkit-user-select: none;
	background-position: -702px -30px;
}



/*
积分
 <msubsup>
    <mo> &#x222B;<!--INTEGRAL--> </mo>
    <mn> 0 </mn>
    <mn> 1 </mn>
  </msubsup>
  
{
width: 30px;
height: 54px;
-webkit-user-select: none;
background-position: -480px -90px;
}*/
/***********************math icon*************************/

.drip_placeholder_box {
	/*
	border: 1px dotted black;
	background-color: #cccccc;
	color: #cccccc;
	padding: 1px;
	*/
}
/*占位符的另一种表示形式，不再插入mn，而是对于mrow节点没有字节点时，应用一种样式。
可在空的mrow中插入内容
.mrow{
	border: 1px dotted black;
}*/

/*输入框的样式*/
.drip_text_input {
    position: absolute;
    z-index: 0;
    width: 0.5em;
    height: 1em;
    opacity: 0;
    background: transparent;
    -moz-appearance: none;
    appearance: none;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
}

.drip_text-input .drip_composition {
    background: #fff;
    color: #000;
    z-index: 1000;
    opacity: 1;
    border: solid lightgray 1px;
    margin: -1px
}