<div class="dojoxUploaderFileList" style="display: none">
<div>
	<div class="drip_upload_item">
		<table>
			<tbody>
				<tr>
					<td style="padding:0px">
						<div>
							<div class="drip_upload_image_name" data-dojo-attach-point="imageNameNode">portal.png</div>
							<div class="drip_upload_image_size" data-dojo-attach-point="imageSizeNode">(309 K)</div>
						</div>
					</td>
					<td>
						<div>
							<div>
								<div class="drip_upload_progress">
									<div class="drip_upload_percent_bar" data-dojo-attach-point="percentBarNode"></div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="drip_upload_delete_icon" data-dojo-attach-point="deleteNode"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<img alt="" src="" style="max-height: 200px; max-width: 200px; padding-left: 10px" data-dojo-attach-point="imageNode">
</div>
<!-- 上传完成后，在对象数组中赋值 -->
</div>




