<div class="dojoxUploaderFileList" style="display: none">
<div style="height:10px">
	<span data-dojo-attach-point="imageNameNode">aaa</span>
	<span data-dojo-attach-point="progressNode"
		class="">
		<span style="border: solid 1px black;width:200px;height: 15px;display: inline-block;">
		<span data-dojo-attach-point="percentBarNode"
			class="" style="background: #89B5E9;border-left: 8px solid white;border-right: 1px solid #78A3D2;;height: 15px;display: inline-block;"></span>
		</span>
		<span data-dojo-attach-point="percentTextNode"
			class="">0%</span>
	</span>
	<span data-dojo-attach-point="deleteNode"><a href="#">删除</a></span>
</div>
<img alt="" src="" style="max-height: 200px; max-width: 200px" data-dojo-attach-point="imageNode">
</div>