<div>
	<div class="minicard">
		<div class="minicard_body clearfix">
			<dl class="clearfix">
				<dt class="minicard_name">
					<a href="#" target="_blank">
						<img alt="" src="#">
					</a>
				</dt>
				<dd>
					<p>
						<a href="#" target="_blank">用户名</a>
					</p>
					<p>
						性别 地址
					</p>
					
					<div>
						<ul class="userData clearfix">
							<li>关注<a href="#">0</a></li>
							<li>|</li>
							<li>粉丝<a href="#">0</a></li>
							<li>|</li>
							<li>答题<a href="#">0</a></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl class="intro">
				<dt></dt>
				<dd>自我介绍</dd>
			</dl>
		</div>
		<div class="minicard_footer">
			<div class="ft_left">
				来自人人
			</div>
			<div class="ft_right">
				<!-- 关注按钮 -->
			</div>
		</div>
	</div>
</div>