[submodule "client/bundles/com.zizibujuan.drip.client.dojo/static/dojo"]
	path = client/bundles/com.zizibujuan.drip.client.dojo/static/dojo
	url = https://github.com/dojo/dojo.git
[submodule "client/bundles/com.zizibujuan.drip.client.dojo/static/dijit"]
	path = client/bundles/com.zizibujuan.drip.client.dojo/static/dijit
	url = https://github.com/dojo/dijit.git
[submodule "client/bundles/com.zizibujuan.drip.client.dojo/static/dojox"]
	path = client/bundles/com.zizibujuan.drip.client.dojo/static/dojox
	url = https://github.com/dojo/dojox.git
[submodule "client/bundles/com.zizibujuan.drip.client.dojo/static/util"]
	path = client/bundles/com.zizibujuan.drip.client.dojo/static/util
	url = https://github.com/dojo/util.git
[submodule "client/bundles/com.zizibujuan.drip.client.mathjax/static"]
	path = client/bundles/com.zizibujuan.drip.client.mathjax/static
	url = https://github.com/mathjax/MathJax.git
[submodule "client/bundles/com.zizibujuan.drip.client.editor"]
	path = client/bundles/com.zizibujuan.drip.client.editor
	url = git@github.com:zizibujuan/mathEditor.git
