/*
	dashboard.html页面专有样式
*/

.drip_activity_list{
	/*border-top:1px solid #DDD;
	border-right: 1px solid #DDD;*/
	/*border-top-right-radius:5px;*/
	min-height: 500px;
}

.activities{
	/*width: 560px;*/
	
}


.activity_wrapper{
	position: relative;
	padding-left: 66px;	
}

.activities .activity_wrapper:first-child{
	margin-top: -1em;
	border-top: none;
}

.activities .activity_wrapper {
	padding: 1em 0 1em 0px;
	overflow: hidden;
	position: relative;
}

.activities .activity_wrapper .time {
	font-size: 12px;
	color: #BBB;
}

.activity_avatar{
	float:left;
	border-radius: 4px;
}

.activity{
	margin-left: 60px;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
}

.activity:before, .activity:after{
	position: absolute;
	top: 11px;
	left: -16px;
	right: 100%;
	width: 0;
	height: 0;
	display: block;
	content: " ";
	border-color: transparent;
	border-style: solid solid outset;
	pointer-events: none;
}

.activity_wrapper>.activity:before{
	border-right-color: #ddd;
	border-width: 8px;
}

.activity_wrapper>.activity:after{
	border-width: 7px;
	border-right-color: #f7f7f7;
	margin-top: 1px;
	margin-left: 2px;
}

.activity_header{
	padding-left: 15px;
	padding-right: 15px;
	color: #777;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.activity_header_text{
	padding-top: 10px;
	padding-bottom: 10px;
}

.activity_header_actions{
	float: right;
	margin-right: -5px;
}

.activity_content{
	
}

.activity_body{
	width: 100%;
	padding: 15px;
	font-size: 14px;
	overflow: auto;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.answer_wrapper{
	position: relative;
	padding-left: 66px;	
}

.answer_label{
	
}

.answer_body{
	
}

.guide_wrapper{
	position: relative;
	padding-left: 66px;	
}

.guide_label{
	
}

.guide_body{
	
}

.a_action{
	text-decoration: none;
	display: inline-block;
	line-height: 1;
}

.activity_header_actions .a_action{
	padding: 10px 5px;
	color: inherit;
	opacity: .5;
}

.activity_header_actions .a_action:hover{
	opacity: 1;
	color: #4183c4;
	text-decoration: none;
}

.is_exercise_editing .edit_activity_hide{
	display: none;
}

.form_content{
	padding: 10px;
}

.form_actions{
	text-align: right;
}

.form_content .form_actions{
	margin-top: 10px;
}

.activity .exercise_cancel_button{
	float: left;
}