html, body{
	height: 100%	
}

html, body, div, a, ul, li,dt,dd,dl{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

body{
	color: #333;
	background-color:white;
	clear: both;
	cursor:default;
	line-height: 1.4;
	font-size: 13px;
	font-family: arial, freesans, clean, sans-serif,Helvetica;
}

a, div{
	padding: 0px;
}

ul{
	padding: 0px;
	/*margin: 0px;*/
}

li{
	list-style: none;
}

h1{
	border:0px;
	margin: 0px;
	padding: 0px;
}

a{
	/*color:#00a300;*/
	color: #333333;
	text-decoration: none;
}

input[type="button"]{
	cursor: pointer;
	padding: 1px 2px 1px 2px;
}

img{
	border: none;
}

.drip_version{
	float: left;
	font-size: 12px;
	color:gray;
	padding: 1px;
}

#wrapper{
	min-height: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	margin-bottom: -268px;
}

/*
解决将div设置float样式后，父容器的高度收缩的问题。
应用在父容器上。
*/
.clearfix:after{
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
	content: ".";
}

.container{
	margin: 0 auto;
	width: 920px;
}

.divider-vertical {
	float: left;
	width: 1px;
	height: 42px;
	margin: 0 10px;
	background-color: #E5E5E5;
	border-right: 1px solid white;
}

/*TODO:确定主题色*/
.drip_header{
	background-color:white;
	border-bottom: 1px solid #e5e5e5;
}

/*
用户未登录时，页面顶部的样式
*/
.drip_header_logged_out{
	padding-top: 10px;
	padding-bottom: 10px;
}
/*
用户登录时，页面顶部的样式
*/
.drip_header_logged_in{
	background-color: #F3F3F3;
	background-image: -moz-linear-gradient(#F9F9F9, #F3F3F3);
	background-image: -webkit-linear-gradient(#F9F9F9, #F3F3F3);
	background-image: linear-gradient(#F9F9F9, #F3F3F3);
	background-repeat: repeat-x;
	z-index: 1000;
	height:42px;
}

.drip_header_logged_out .drip_header_logo{
	position:relative;
	float: left;
}

.drip_header_logged_in .drip_header_logo{
	/*font-size: 24px;
	font-weight:bold;
	color: #00a300;
	letter-spacing: 4px;
	float:left;
	padding-top: 8px;
	*/
	position:relative;
	float: left;
	padding-bottom: 6px;
	padding-top: 8px;
}


.drip_top_nav{
	float: left;
	margin-left:20px;
	list-style-type: none;
	list-style-image: none;
}

.drip_top_nav .current{
	color: #00a300;
	font-size: 16px;
}

.drip_top_nav li{
	float: left;
}

.drip_top_nav a{
	color: #333333;
	padding: 5px;
	margin-left: 15px;
	display: block;
	font-weight: bold;
}

.drip_header_logged_out .drip_top_nav{
	font-size:14px;
	margin-top: 10px;
}

.drip_header_logged_in .drip_top_nav{
	font-size:14px;
	margin-top: 7px;
}

.drip_header_logged_in .logout{
	margin: 10px 5px 10px;
	padding: 0px 2px 0px 2px;
}


.pageHeader{
	position: relative;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}


.pageHeader ul.pageHeader-actions {
	margin: 0;
	float: right;
	z-index: 21;
}

.pageHeader-actions>li {
	list-style-type: none;
	font-size: 11px;
	color: #333;
	margin: 0 10px 0 0;
	float: left;
}


/* 站点介绍版块 */
.drip_site{
	
}

.drip_welcome_area{
	border-bottom:  1px solid #e5e5e5;
	padding-top:60px;
	padding-bottom: 40px;
	margin-bottom:60px;
	
	background-color: #fafafa;
	
}

.drip_home_signup{
	float:right;
}

.drip_note{
	color:#999;
	margin-top: 7px;
	font-size: 12px;
}

.drip_note_invite_label{
	color:#999;
	margin-top: 7px;
	font-size: 14px;
}

.drip_heading{
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 3px
}

.drip_heading p{
	padding: 0px;
	margin: 0px;
}

.drip_subheading{
	color:#888;
	font-size: 18px;
	line-height: 1.5em;
}

.drip_user_links {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.drip_user_links li {
	float: left;
	margin-left: 10px;
}

.drip_user_links a {
	display: block;
	color: #333;
	
}

.drip_user_links .drip_name{
	margin: 12px 5px 10px;
	padding: 0 10px;
	line-height: 16px;
}

.drip_user_links .drip_name img {
	float: left;
	margin: -2px 5px 0 0;
	border-radius: 3px;
}

.drip_user_links .drip_name span {
	font-weight: bold;
	white-space: nowrap;
}

/*小图标，没有按钮样式*/
.iconbutton{
	margin-left:5px;
}

/*统一定义页面上按钮的样式*/
.button, .minibutton{
	position: relative;
	display: inline-block;
	padding: 7px 15px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	white-space: nowrap;
	background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	border-radius: 3px;
	border: 1px solid #ddd;
	border-bottom-color: #c5c5c5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}

.minibutton{
	padding: 0 10px;
	line-height: 24px;
	box-shadow: none;
}


.button.primary, .minibutton.primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #60b044;
	background-image: -moz-linear-gradient(#8add6d, #60b044);
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	background-repeat: repeat-x;
	border-color: #5ca941;
}

.minibutton.selected{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	background-color: #767676;
	background-image: none;
	border-color: #686868;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
}

/* 个人首页样式 */
.drip_body{
	
}

.drip_body .container{
	margin: 0 auto;
	width: 980px;
}

.drip_main{
	background-color: #fafafa;
}


.drip_main_center{
	float: left;
	width: 760px;
	min-height: 800px;
	overflow: hidden;
}

.drip_main_right{
	float: right;
	width: 220px;
	overflow: hidden;	
}

.count {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 8px 1px 8px;
	height: auto;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	vertical-align: text-top;
	color: #777;
	background: white;
	border-top: 1px solid #CCC;
	border-radius: 8px;
}

.profile img{
	padding: 5px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #DDD;
	height:80px;
	width:80px;
}


.drip_face{
	float:left;
}

.drip_detail{
	margin-left: 60px;
}

.drip_tab_nav {
	margin-top:10px;
	/*border-bottom: 1px solid #DDD;*/
	height: 35px;
}

.drip_tab_nav .counter {
	position: relative;
	top: -1px;
	margin: 0 0 0 5px;
	padding: 1px 5px 2px 5px;
	font-size: 10px;
	font-weight: bold;
	color: #666;
	background: #E5E5E5;
	border-radius: 10px;
}

.drip_tab_nav_tabs{
	
}

.drip_tab_nav_tab {
	display: inline-block;
	margin-bottom: -1px;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-bottom: 0;
	font-size: 14px;
	color: #666;
	text-decoration: none;
}

.drip_tab_nav_tab.selected {
	border-color: #DDD;
	border-radius: 3px 3px 0 0;
	background-color: white;
	color: #333;
	font-weight: bold;
}

.drip_tab_nav .drip_tab_nav_tabs{
	display: inline-block;
}

.drip_tab_nav .drip_tab_nav_tabs > li{
	display: inline-block;
	line-height: 1.4
}

.drip_activity_list{
	/*border-top:1px solid #DDD;
	border-right: 1px solid #DDD;*/
	/*border-top-right-radius:5px;*/
	min-height: 500px;
}

.drip_answer_count {
	border: 1px solid #D4D4D4;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 7px 5px;
	line-height: 20px;
	margin-left: 8px;
	border-radius: 3px;
	color: #333;
	background-color: #FAFAFA;
	position: relative;
}

/*暂定所有通往某个操作的操作，命名时加上to*/
.drip_to_answer{
	
}

.drip_answer_count::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 6px solid #D4D4D4;
	border-color: transparent #D4D4D4 transparent transparent;
	position: absolute;
	right: 100%;
	margin-right: 0;
	top: 50%;
	margin-top: -6px;
}

.drip_answer_count::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 6px solid #FAFAFA;
	border-color: transparent #FAFAFA transparent transparent;
	position: absolute;
	right: 100%;
	margin-right: -1px;
	top: 50%;
	margin-top: -6px;
}

/*取消操作*/
.drip_op_cancel{
	margin-right: 10px;
	line-height: 1.4;
}

.site_introduces {
	margin-bottom: 30px;
	overflow: hidden;
	text-align: center;
}

.site_introduces .site_introduce {
	float: left;
	width: 290px;
}

.site_introduces .site_introduce + .site_introduce {
margin-left: 25px;
}

.site_introduces .site_introduce_illustration {
	margin-bottom: 10px;
}

.site_introduces h3 {
	margin: 0 0 9px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	color: #2A2A2A;
}

.site_introduces p {
	margin: 0 0 10px;
	font-size: 13px;
	color: #5A5A5A;
	text-align: left;
	line-height: 1.5;
	/*text-indent: 2em;*/
}

.site_introduces h3, .site_introduces p {
	padding-right: 10px;
}


.drip_form_actions{
	margin-top: 10px;
}

.drip_form_actions input{
	padding: 8px 15px;
	font-weight: bold;
	display: inline-block;
	line-height: normal;
}

.minicard{
	
}

.minicard_footer {
	overflow: hidden;
}

.minicard_footer .actions{
	float: right;
}

.minicard_body dt{
	float: left;
	display: inline;
}

.minicard_body dd{
	float: left;
	display: inline;
	margin-left: 10px;
}

.minicard_body dd p{
	width: 260px;
	word-wrap: break-word;
	margin: 0px;
	padding: 0px;
}

.minicard_name img{
	height: 50px;
	border:0px;
	border-radius: 2px;
	display: block;
}

.ft_left{
	float: left;
}

.ft_right{
	flaot:right;
}

.userData{
	width: 270px;
}

.userData li{
	float:left;
}

.userData a{
	color: #4183C4;
}

.minicard_body .intro{
	margin: 0 20px 8px;
	line-height: 18px;
	width: 330px;
}

.drip_member_list{
	border-top:1px solid #DDD;
	min-height: 500px;
}

.members .user-following{
	float: right;
}

.members li {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
}

.members li .avatar {
	border: 1px solid #ddd;
	padding: 1px;
	background-color: #fff;
	float: left;
	margin-right: 10px;
}


.radio-group{
	list-style:none;
	margin:0px 0px 0px 0px;
	padding: 0px;
	float: left;
}

.radio-group li{
	position: relative;
	float: left;
	margin-right: 10px;
}

.radio-group li label{
	min-width:100px;
	display: inline-block;
}

.form{
	margin-top: 15px;
}





























.zzbj_signup{
	margin: 0 auto; width:245px;position: relative;top: 50%; margin-top: -200px
}

.logo{
	font-size: 35px;
	letter-spacing:0.5em;
	line-height: 1.2;
	position: relative;
	left: 50%;
	margin: 8px 0 20px -245px;
	width: 500px;
	white-space: nowrap;
	color: #00a300;
	text-align: center;
	text-shadow: 0 3px 3px rgba(0,0,0,0.8);
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.subheading{
	line-height: 1.2;
	position: relative;
	left: 50%;
	margin: 8px 0 18px -250px;
	width: 500px;
	font-size: 20px;
	white-space: nowrap;
	color: #111;
	text-align: center;
	/*text-shadow: 0 2px 2px rgba(0,0,0,0.8);*/
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
}



.login_link{
	padding-top: 15px;
	font-size: 12px;
	text-align: center;
	opacity: .87;
}

.login_link a{
	color: #4183c4;
	font-weight: bold;
}

.menu_link{
	padding-top: 15px;
	font-size: 18px;
}
.menu_link a{
	padding-left: 18px;
	padding-right: 18px;
	color:#4183c4;
	font-weight: bold;
}

.signup_form_errors{
	list-style-type: none;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	margin: 10px 0 0 0;
}

.error{
	padding: 5px 15px;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: red;
}

.blob{
	width: 620px;
	font-size: 18px;
}