<div class="container clearfix">
	<a href="/" class="drip_header_logo" style="height:25px;">
	 	<!-- 设置文本的高度 -->
		<img alt="孜孜不倦" style="height:25px;" src="/drip/resources/images/home_logo.png">
	</a>
	<span class="drip_version">测试版</span>
	
	<div class="divider-vertical"></div>
	<ul class="drip_top_nav">
		<li><a href="/" class="current">首页</a></li>
		<!-- <li><a href="/explore_projects">笔记</a></li> -->
		<li><a href="/explore_exercises">题库</a></li>
		<!-- <li><a href="/help">帮助</a></li> -->
	</ul>
	<ul class="drip_user_links">
		<li>
			<a href="#" data-dojo-attach-point="userLink" class="drip_name">
				<img width="20px" height="20px" data-dojo-attach-point="profileImage">
				<span data-dojo-attach-point="userName"></span>
			</a>
		</li>
		<li><button class="minibutton" style="margin: 8px 5px 8px;" data-dojo-attach-point="logout"><i class="icon-signout"></i> 退出</button></li>
	</ul>
</div>