<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.dojo">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/dojo">
	         </resource-mapping>
         </httpcontext>
          <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.dijit">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/dijit">
	         </resource-mapping>
         </httpcontext>
          <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.dojox">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/dojox">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.drip">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/drip">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.mathEditor">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/mathEditor">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.mathJax">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.release"
	               path="/release/mathJax">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/dojo"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.dojo">
      </resource>
      <resource
            alias="/dijit"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.dijit">
      </resource>
      <resource
            alias="/dojox"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.dojox">
      </resource>
      <resource
            alias="/"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.drip">
      </resource>
      <resource
            alias="/mathEditor"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.mathEditor">
      </resource>
      <resource
            alias="/mathJax"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.mathJax">
      </resource>
     </extension>
</plugin>
