<div class="item">
	<div>
		<div class="drip_face">
			<!-- TODO：放置用户头像 -->
			<a href="#" data-dojo-attach-point="userLinkNode"><img data-dojo-attach-point="userImageNode" src="" width="50px" height="50px"/></a>
		</div>
		<div class="drip_detail">
			<div class="drip_action">
				<a href="#" data-dojo-attach-point="userInfo"></a>
				<span data-dojo-attach-point="action"></span>
				<span class="time" style="margin-left: 20px;"><time title="" data-dojo-attach-point="time"></time></span>
			</div>
			<div>
				<div>
					<div class="exercise" data-dojo-attach-point="exerciseNode"></div>
					<div class="answerContainer" data-dojo-attach-point="answerNode"></div>
					<div style="float: right">
					<!-- 
						<a href="#">关注(100)</a>
						<i style="margin-left:6px;margin-right:8px; color:#AEAEAE">|</i>
						<a href="#">收藏(100)</a>
						<i style="margin-left:6px;margin-right:8px; color:#AEAEAE">|</i>
					 -->
						<!-- 解答是一个按钮，数字用一个框括住。点击按钮后，隐藏；点击取消之后，再显示 -->
						<span data-dojo-attach-point="answerAreaNode">
							<!-- 解答 -->
							<button data-dojo-attach-point="btnAnswer"
							 class="minibutton"><i class="icon-comment-alt"></i> 解答</button>
							<a href="#" data-dojo-attach-point="drip_answer_count" class="drip_answer_count">0</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	