/*暂时放置首页样式，但是每个class标注清楚，要通用*/
@CHARSET "UTF-8";

html, body, div, a, ul, li{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

body{
	color: #333;
	background-color:white;
	clear: both;
	overflow:hidden;
	cursor:default;
	line-height: 1.4;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

a, div{
	padding: 0px;
}

ul{
	padding: 0px;
	/*margin: 0px;*/
}

h1{
	border:0px;
	margin: 0px;
	padding: 0px;
}

a{
	color:#00a300;
	text-decoration: none;
}

input[type="button"]{
	cursor: pointer;
	padding: 1px 2px 1px 2px;
}

.drip_version{
	float: left;
	font-size: 12px;
	color:gray;
	padding: 1px;
}

#wrapper{
	min-height: 100%;
}

/*
解决将div设置float样式后，父容器的高度收缩的问题。
应用在父容器上。
*/
.clearfix:after{
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
	content: ".";
}

.container{
	margin: 0 auto;
	width: 920px;
}

.divider-vertical {
	float: left;
	width: 1px;
	height: 40px;
	margin: 0 10px;
	background-color: #E5E5E5;
	border-right: 1px solid white;
}

/*TODO:确定主题色*/
.drip_header{
	background-color:white;
	border-bottom: 1px solid #e5e5e5;
}

/*
用户未登录时，页面顶部的样式
*/
.drip_header_logged_out{
	padding-top: 10px;
	padding-bottom: 10px;
}
/*
用户登录时，页面顶部的样式
*/
.drip_header_logged_in{
	background-color: #F3F3F3;
	background-image: -moz-linear-gradient(#F9F9F9, #F3F3F3);
	background-image: -webkit-linear-gradient(#F9F9F9, #F3F3F3);
	background-image: linear-gradient(#F9F9F9, #F3F3F3);
	background-repeat: repeat-x;
}

.drip_header_logged_out .drip_header_logo{
	font-size: 35px;
	font-weight:bold;
	color: #00a300;
	letter-spacing: 4px;
	float: left;
}

.drip_header_logged_in .drip_header_logo{
	font-size: 24px;
	font-weight:bold;
	color: #00a300;
	letter-spacing: 4px;
	float:left;
	padding-top: 8px;
}


.drip_top_nav{
	float: left;
	list-style-type: none;
	list-style-image: none;
}

.drip_top_nav .current{
	color: #00a300;
	font-size: 16px;
}

.drip_top_nav li{
	float: left;
}

.drip_top_nav a{
	color: #333333;
	padding: 5px;
	margin-left: 15px;
	display: block;
}

.drip_header_logged_out .drip_top_nav{
	margin-top: 10px;
}

.drip_header_logged_in .drip_top_nav{
	font-size:14px;
	margin-top: 7px;
}

.drip_header_logged_in .logout{
	margin: 10px 5px 10px;
	padding: 0px 2px 0px 2px;
}


/* 站点介绍版块 */
.drip_site{
	
}

.drip_welcome_area{
	border-bottom:  1px solid #e5e5e5;
	padding-top:50px;
	padding-bottom: 40px;
	margin-bottom:60px;
	
	background-color: #fafafa;
	
}

.drip_home_signup{
	float:right;
	margin-top: 30px;
}

.drip_note{
	color:#999;
	margin-top: 7px;
	font-size: 12px;
}

.drip_heading{
	font-weight: normal;
	font-size: 45px;
}

.drip_heading p{
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.drip_heading .drip_heading_indent{
	text-indent: 2em;
}

.drip_subheading{
	color:#888;
	font-size: 18px;
	line-height: 1.5em;
}

.drip_user_links {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.drip_user_links li {
	float: left;
	margin-left: 10px;
}

.drip_user_links a {
	display: block;
	padding: 12px 5px 10px;
	color: #333;
	line-height: 16px;
}

.drip_user_links .drip_name img {
	float: left;
	margin: -2px 5px 0 0;
	border-radius: 3px;
}

.drip_user_links .drip_name span {
	font-weight: bold;
	white-space: nowrap;
}

.drip_user_links .drip_new_exercise{
	font-weight: bold;
}

/* 个人首页样式 */
.drip_body{
	
}

.drip_body .container{
	margin: 0 auto;
	width: 980px;
}

.drip_main{
	background-color: #fafafa;
}



.drip_main_center{
	float: left;
	width: 760px;
	min-height: 800px;
	overflow: hidden;
}

.drip_main_right{
	float: right;
	width: 220px;
	overflow: hidden;	
}

.count {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 8px 1px 8px;
	height: auto;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	vertical-align: text-top;
	color: #777;
	background: white;
	border-top: 1px solid #CCC;
	border-radius: 8px;
}

.profile img{
	padding: 5px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #DDD;
	height:80px;
	width:80px;
}


.drip_face{
	float:left;
}

.drip_detail{
	margin-left: 60px;
}

.drip_tab_nav {
	margin-top:10px;
	/*border-bottom: 1px solid #DDD;*/
	height: 35px;
}

.drip_tab_nav .counter {
	position: relative;
	top: -1px;
	margin: 0 0 0 5px;
	padding: 1px 5px 2px 5px;
	font-size: 10px;
	font-weight: bold;
	color: #666;
	background: #E5E5E5;
	border-radius: 10px;
}

.drip_tab_nav_tabs{
	
}

.drip_tab_nav_tab {
	display: inline-block;
	margin-bottom: -1px;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-bottom: 0;
	font-size: 14px;
	color: #666;
	text-decoration: none;
}

.drip_tab_nav_tab.selected {
	border-color: #DDD;
	border-radius: 3px 3px 0 0;
	background-color: white;
	color: #333;
	font-weight: bold;
}

.drip_tab_nav .drip_tab_nav_tabs{
	display: inline-block;
}

.drip_tab_nav .drip_tab_nav_tabs > li{
	display: inline-block;
	line-height: 1.4
}

.drip_activity_list{
	border-top:1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top-right-radius:5px;
	min-height: 500px;
}

.drip_answer_count {
	border: 1px solid #D4D4D4;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 7px 5px;
	line-height: 20px;
	margin-left: 8px;
	border-radius: 3px;
	color: #333;
	background-color: #FAFAFA;
	position: relative;
}

/*暂定所有通往某个操作的操作，命名时加上to*/
.drip_to_answer{
	
}

.drip_answer_count::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 6px solid #D4D4D4;
	border-color: transparent #D4D4D4 transparent transparent;
	position: absolute;
	right: 100%;
	margin-right: 0;
	top: 50%;
	margin-top: -6px;
}

.drip_answer_count::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 6px solid #FAFAFA;
	border-color: transparent #FAFAFA transparent transparent;
	position: absolute;
	right: 100%;
	margin-right: -1px;
	top: 50%;
	margin-top: -6px;
}

/*取消操作*/
.drip_op_cancel{
	margin-right: 10px;
	line-height: 1.4;
}