<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.mathjax">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.mathjax"
	               path="/static/mathJax">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.mathjax.fonts">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.mathjax"
	               path="/static/fonts">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.mathjax.images">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.mathjax"
	               path="/static/images">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/mathJax"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.mathjax">
      </resource>
      <resource
            alias="/fonts"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.mathjax.fonts">
      </resource>
      <resource
            alias="/images"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.mathjax.images">
      </resource>
     </extension>
</plugin>

