<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.client.httpcontext.editor">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.editor"
	               path="/static/mathEditor">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/mathEditor"
            httpcontextId="com.zizibujuan.drip.client.httpcontext.editor">
      </resource>
     </extension>
</plugin>
