<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.equinox.http.registry.servlets">
      
      <!-- 访问用户项目 -->
      <servlet 
      		alias="/projects"
      		class="com.zizibujuan.drip.server.doc.servlet.ProjectServlet">
      </servlet>
      
      <!-- 文档 -->
      <servlet 
      		alias="/files"
      		class="com.zizibujuan.drip.server.doc.servlet.FileServlet">
      </servlet>
      <!-- 查看文件内容 -->
      <servlet 
      		alias="/blob"
      		class="com.zizibujuan.drip.server.doc.servlet.BlobServlet">
      </servlet>
      
    </extension>
</plugin>
