<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="com.zizibujuan.drip.application"
	    point="org.eclipse.core.runtime.applications">
      	<application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="com.zizibujuan.drip.server.configurator.WebApplication">
         </run>
      	</application>
	</extension>
	<extension id="com.zizibujuan.drip.product" point="org.eclipse.core.runtime.products"> 
      <product name="Drip" application="com.zizibujuan.drip.application" description="baosuzhai"> 
          <property name="appName" value="Drip"/> 
          <!--<property name="preferenceCustomization" value="plugin_customization.ini"/>-->
      </product> 
    </extension>
    
    <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/exercises"
            class="com.zizibujuan.drip.server.servlet.ExerciseServlet">
      </servlet>
      <servlet
            alias="/users"
            class="com.zizibujuan.drip.server.servlet.UserServlet">
      </servlet>
            <servlet
            alias="/login"
            class="com.zizibujuan.drip.server.servlet.LoginServlet">
      </servlet>
      <servlet
            alias="/logout"
            class="com.zizibujuan.drip.server.servlet.LogoutServlet">
      </servlet>
      <servlet
            alias="/confirm"
            class="com.zizibujuan.drip.server.servlet.EmailConfirmServlet">
      </servlet>
      <servlet
            alias="/signup_check"
            class="com.zizibujuan.drip.server.servlet.SignUpCheckServlet">
      </servlet>
      <!-- 关注好友 -->
      <servlet
            alias="/follow"
            class="com.zizibujuan.drip.server.servlet.FollowServlet">
      </servlet>
      <!-- 获取我关注的人 -->
      <servlet
            alias="/following"
            class="com.zizibujuan.drip.server.servlet.FollowingServlet">
      </servlet>
      <!-- 获取关注我的人 -->
      <servlet
            alias="/followers"
            class="com.zizibujuan.drip.server.servlet.FollowerServlet">
      </servlet>
      <!-- 邀请好友 -->
      <servlet
            alias="/invites"
            class="com.zizibujuan.drip.server.servlet.InviteServlet">
      </servlet>
      <servlet 
      		alias="/activities"
      		class="com.zizibujuan.drip.server.servlet.DashboardServlet">
      </servlet>
      <servlet 
      		alias="/answers"
      		class="com.zizibujuan.drip.server.servlet.AnswerServlet">
      </servlet>
      <servlet 
      		alias="/uploads"
      		class="com.zizibujuan.drip.server.servlet.UploadServlet">
      </servlet>
      <servlet 
      		alias="/userImages"
      		class="com.zizibujuan.drip.server.servlet.ImageServlet">
      </servlet>
      
      
      <!-- admin -->
      <servlet 
      		alias="/mailServer"
      		class="com.zizibujuan.drip.server.servlet.admin.MailServerServlet">
      </servlet>
    </extension>
<!--
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.server.configurator.httpcontext.drip">
            
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.core"
	               path="/web">
	         </resource-mapping>
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.editor"
	               path="/static">
	         </resource-mapping>
	         
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.dojo"
	               path="/static">
	         </resource-mapping>
	         
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.mathjax"
	               path="/static">
	         </resource-mapping>
	        
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="com.zizibujuan.drip.server.configurator.httpcontext.drip">
      </resource>
     </extension>
      -->
     

   <extension
         point="org.eclipse.equinox.http.registry.filters">
         
         
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.configurator.servlet.RestHtmlFilter">
      </filter>
      
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.configurator.servlet.WelcomeFileFilter">
      </filter>
      
      
      <!-- 在进行rest转换后触发-->
      <!-- TODO：判断哪些资源可以看作有效的资源 -->
      <!-- 用户无需登录，就可以访问的页面，用逗号隔开。注意开头的/不能删除 -->
      <!--
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.configurator.servlet.SessionFilter">
            <init-param
               name="excludes"
               value="/,/index.html,/signup.html,/drip/exercises/list.html,/closeRenrenInviteWindow.html,/dripx/login_form.html">
         	</init-param>
      </filter>
      -->
      
      
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.servlet.AccessLogFilter">
      </filter>
      
      <filter
            alias="/"
            class="org.eclipse.jetty.servlets.GzipFilter">
      </filter>
      
   </extension>
</plugin>
